.button {
  --border-bottom-width: 0.3125rem; /* 5px */

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-16) var(--size-32);
  border: var(--border-width) solid var(--border-color);
  /* border-bottom-width: var(--border-bottom-width); */
  box-shadow: 0 calc(var(--border-bottom-width) - var(--border-width)) var(--border-color);
  border-radius: var(--radius-button);
  font-family: var(--font-family-button);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  text-decoration: none;

  &:active {
    box-shadow: none;
    translate: 0 calc(var(--border-bottom-width) - var(--border-width));
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  --border-width: 0rem;
  --border-color: var(--color-border-primary);
  background-color: var(--color-bg-primary);
  color: var(--color-text-on-primary);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--color-bg-primary-hover);
  }
}

.secondary {
  --border-width: 0.125rem;
  --border-color: var(--color-border-primary-subtle);
  background-color: var(--color-bg-default);
  color: var(--color-text-primary-subtle);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--color-bg-primary-subtle-hover);
  }
}
