.button {
  --border-width: var(--border-width-2);
  --bevel: var(--bevel-large);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-16) var(--size-32);
  border: var(--border-width) solid;
  border-bottom-width: calc(var(--border-width) + var(--bevel));
  border-radius: var(--radius-button);
  font-family: var(--font-family-button);
  font-size: var(--font-size-body-default);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  text-decoration: none;
  transition-property: border-width, translate;
  transition-duration: var(--duration-instant);

  &:active,
  &:disabled {
    border-bottom-width: var(--border-width);
    translate: 0 var(--bevel);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.largeText {
  font-size: var(--font-size-20);
}

.primary {
  border-color: var(--color-border-primary);
  background-color: var(--color-bg-primary);
  color: var(--color-text-on-primary);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--color-bg-primary-hover);
  }

  &:disabled {
    background-color: var(--color-bg-neutral);
    color: var(--color-text-neutral-subtle);
    border-color: transparent;
  }
}

.secondary {
  border-color: var(--color-border-primary-subtle);
  background-color: var(--color-bg-default);
  color: var(--color-text-primary-subtle);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: var(--color-bg-primary-subtle-hover);
  }

  &:disabled {
    color: var(--color-text-neutral-subtle);
    border-color: var(--color-border-neutral);
  }
}

.feedback {
  background-color: transparent;
  border-color: transparent;
}
