body {
  background-color: var(--color-bg-page);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-body-default);
  color: var(--color-text-default);
}

legend {
  color: var(--color-text-neutral-subtle);
  font-size: var(--font-size-minor);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-22);
}

main {
  padding-bottom: var(--size-32);
}

input,
textarea,
select {
  color: inherit;
}
