.legend {
  margin-bottom: var(--label-gap);
}

.languageOptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: var(--label-gap);
  align-items: end;
  --color-border-highlight: var(--color-border-primary-subtle);
}

.label {
  --border-width: var(--border-width-2);
  --bevel: var(--bevel-small);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
  border: var(--border-width) solid var(--color-border-neutral);
  border-bottom-width: calc(var(--border-width) + var(--bevel));
  border-radius: var(--radius-12);
  padding: var(--size-12) var(--size-16) var(--size-4);
  background: var(--color-bg-default);
  font-size: var(--font-size-16);
  font-family: var(--font-family-display);
}

.label:hover,
.label:has(:focus-visible) {
  border-color: var(--color-border-highlight);
}

.label:has(:focus-visible) {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.label:has(:checked) {
  border-color: var(--color-border-highlight);
  background-color: var(--color-bg-primary-subtle);
  color: var(--color-text-primary);
}

.label:active {
  border-bottom-width: var(--border-width);
  translate: 0 var(--bevel);
}

.flagIcon {
  display: grid;
}

.hasNoVoiceWarning {
  position: absolute;
  display: grid;
  top: 0.375rem;
  right: 0.5rem;
  opacity: 0.6;
}
