.container {
  container-type: inline-size;
}

.wrapperG {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: var(--size-4);
  border-radius: var(--radius-pill);
  background-color: var(--color-bg-default);
  border: var(--border-width-default) solid var(--color-border-neutral);
  padding: var(--size-4);
}

.wrapperF {
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--radius-pill);
  background-color: var(--color-bg-default);
  border: var(--border-width-default) solid var(--color-border-neutral);
  padding: var(--size-4);
}

.label {
  flex: 1 1 auto;
  display: grid;
  justify-content: center;
  border-radius: var(--radius-pill);
  padding: var(--size-12);
  font-weight: var(--font-weight-semibold);
  /* white-space: nowrap; */
  background-color: grey;

  &:has(input:checked) {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-on-secondary);
  }

  &:not(:has(input:checked)) {
    &:hover {
      background-color: var(--color-bg-secondary-subtle);
    }
  }
}
