.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-inline: auto;
  max-width: min(100%, 40rem);
  padding-inline: var(--size-24);
  min-height: 100dvh;

  @media (max-width: 29.99rem) {
    padding-inline: var(--size-12);
  }
}
