.loader {
  display: flex;
  align-items: center;
  gap: var(--size-4);

  &::after {
    /* add zero-width non-breaking space to ensure loader gets height of current line-height */
    display: block;
    content: '\00A0';
    width: 0;
  }
}

@keyframes --fade {
  0%,
  50%,
  100% {
    opacity: 0.25;
    translate: 0;
  }
  75% {
    opacity: 1;
    translate: 0 -40%;
  }
}

.dot {
  --size: var(--size-8);
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-circle);
  background-color: var(--color-gray-600);
  animation: --fade 1.7s infinite;
  animation-delay: calc(0.15s * sibling-index());
}
