.tooltip {
  display: none;
  position: fixed;
  z-index: 1;
  position-anchor: var(--anchor-name);
  position-area: top;
  position-try:
    flip-inline,
    flip-block,
    flip-inline flip-block;
  border-radius: var(--radius-4);
  padding: var(--size-8);
  padding-right: var(--size-16);
  background: var(--color-bg-tooltip);
  color: var(--color-text-on-dark);
  font-family: var(--font-family-body);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body-tight);
  text-transform: none;
  transition: var(--duration-fast) ease-in-out;
  transition-property: display, opacity;
  transition-behavior: allow-discrete;
  opacity: 0;

  &.isActive {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
}

.closeButton {
  position: absolute;
  top: var(--size-4);
  right: var(--size-4);
  opacity: 0.5;
  transition: opacity var(--duration-near-instant);

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}
