:root {
  --duration-instant: 0.1s;
  --duration-near-instant: 0.2s;
  --duration-fast: 0.3s;

  --overshoot-out: linear(
    0,
    0.414 7.7%,
    0.734 15.9%,
    0.96 24.6%,
    1.041 29.2%,
    1.102 34.1%,
    1.135 38.1%,
    1.156 42.3%,
    1.165 46.8%,
    1.163 51.7%,
    1.136 60.4%,
    1.024 84.7%,
    1.005 92.3%,
    1
  );
}
