:root {
  /* primitive variables */

  --color-pink-50: oklch(0.22 0.071 350);
  --color-pink-100: oklch(0.3 0.097 350);
  --color-pink-200: oklch(0.38 0.123 350);
  --color-pink-300: oklch(0.46 0.148 350);
  --color-pink-400: oklch(0.54 0.174 350);
  --color-pink-500: oklch(0.62 0.2 350);
  --color-pink-600: oklch(0.686 0.189 350);
  --color-pink-700: oklch(0.752 0.138 350);
  --color-pink-800: oklch(0.818 0.094 350);
  --color-pink-900: oklch(
    0.91 0.056 350
  ); /* hand-tuned to come closer to original design's oklch(0.93 0.05 350); was oklch(0.884 0.056 350) */
  --color-pink-950: oklch(0.95 0.023 350);

  --color-blue-50: oklch(0.249 0.05 231);
  --color-blue-100: oklch(0.329 0.066 231);
  --color-blue-200: oklch(0.409 0.082 231);
  --color-blue-300: oklch(0.489 0.098 231);
  --color-blue-400: oklch(0.569 0.114 231);
  --color-blue-500: oklch(0.649 0.13 231);
  --color-blue-600: oklch(0.709 0.142 231);
  --color-blue-700: oklch(0.77 0.146 231);
  --color-blue-800: oklch(0.83 0.105 231);
  --color-blue-900: oklch(0.89 0.067 231);
  --color-blue-950: oklch(0.95 0.03 231);

  --color-gray-50: oklch(0.151 0.005 248);
  --color-gray-100: oklch(0.231 0.008 248);
  --color-gray-200: oklch(0.311 0.011 248);
  --color-gray-300: oklch(0.391 0.014 248);
  --color-gray-400: oklch(0.471 0.017 248);
  --color-gray-500: oklch(0.551 0.02 248);
  --color-gray-600: oklch(0.63 0.023 248);
  --color-gray-700: oklch(0.71 0.021 248);
  --color-gray-800: oklch(0.79 0.015 248);
  --color-gray-900: oklch(
    0.87 0.013 248
  ); /* hand-tuned to correct scale after changing gray-950; was oklch(0.87 0.009 248) */
  --color-gray-950: oklch(
    0.97 0.012 248
  ); /* hand-tuned to come closer to original design's oklch(0.97 0.012 250); was oklch(0.95 0.003 248) */

  --color-white: white;
  --color-red: oklch(0.5 0.18 25);
  --color-red-subtle: oklch(0.94 0.045 25);

  /* semantic colors */

  /* semantic colors - text */

  --color-text-primary: var(--color-pink-200);
  --color-text-primary-subtle: var(--color-pink-300);
  --color-text-on-primary: var(--color-white);
  --color-text-secondary: var(--color-blue-100);
  --color-text-secondary-subtle: var(--color-blue-300);
  --color-text-on-secondary: var(--color-white);
  --color-text-neutral: var(--color-gray-100);
  --color-text-neutral-subtle: var(--color-gray-400);
  --color-text-error: var(--color-red);
  --color-text-info: var(--color-text-secondary-subtle);

  /* semantic colors - background */

  --color-bg-default: var(--color-white);
  --color-bg-primary: var(--color-pink-500);
  --color-bg-primary-hover: var(--color-pink-400);
  --color-bg-primary-subtle: var(--color-pink-900);
  --color-bg-primary-subtle-hover: var(--color-pink-950);
  --color-bg-secondary: var(--color-blue-500);
  --color-bg-secondary-subtle: var(--color-blue-900);

  --color-bg-secondary: var(--color-blue-500);
  --color-bg-secondary-subtle: var(--color-blue-900);

  --color-bg-neutral: var(--color-gray-900);
  --color-bg-neutral-subtle: var(--color-gray-950);

  --color-bg-error: var(--color-red-subtle);
  --color-bg-info: var(--color-bg-default);

  /* semantic colors - border */

  --color-border-primary: var(--color-pink-300);
  --color-border-primary-subtle: var(--color-pink-500);
  --color-border-secondary: var(--color-blue-500);
  --color-border-neutral: var(--color-gray-900);
  --color-border-neutral-active: var(--color-gray-700);

  /* component colors */

  --color-bg-page: var(--color-bg-neutral-subtle);
  --color-text-default: var(--color-text-neutral);
  --color-text-label: var(--color-text-neutral-subtle);
  --color-focus-outline: var(--color-text-default);
}
