:root {
  /* primitive variables */
  --font-baloo: 'Baloo';
  --font-worksans: 'Work Sans';

  /* font sizes */
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-72: 72px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* semantic variables */
  --font-family-display: var(--font-baloo), georgia, sans-serif;
  --font-family-body: var(--font-worksans), sans-serif;

  --font-size-body-default: var(--font-size-18);

  --line-height-heading: 1.2;
  --line-height-body: 1.5;
  --line-height-body-tight: 1.25;

  --font-size-minor: var(--font-size-14);

  /* component variables */
  --font-family-default: var(--font-family-body);
  --font-weight-default: var(--font-weight-regular);

  --font-family-heading: var(--font-family-display);
  --font-weight-heading: var(--font-weight-semibold);

  --font-family-button: var(--font-family-display);
  --font-weight-button: var(--font-weight-bold);

  --font-family-label: var(--font-family-body);
  --font-weight-label: var(--font-weight-semibold);
}
