/* very basic reset css - only meant as quick-start for small playground projects */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

html {
  scrollbar-gutter: stable;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input[type='checkbox'],
input[type='image'],
input[type='radio'],
input[type='submit'],
label {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
