.o-content-width {
  margin: 0 auto;
  max-width: min(60rem, 90vw);
}

main,
section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.stt-actions {
  display: grid;
  grid-template-areas:
    'start start  start'
    'stop  cancel clear';
  gap: 1em;
  max-width: 25rem;
}

button {
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.start-button,
.read-button {
  background: hotpink;
  color: white;
}

.start-button {
  grid-area: start;
  display: flex;
  justify-content: center;
  gap: 0.5em;

  &.is-active {
    background: black;
  }
}

.output {
  --bg-color: rgba(from hotpink r g b / 0.1);
  position: relative;
  padding: 1em;
  border-radius: 0.5em;
  background: var(--bg-color);

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    display: block;
    border: 10px solid transparent;
    border-top-color: var(--bg-color);
  }
}

.transcript {
  font-style: italic;
}

.confidence {
  display: inline-block;
  margin-left: 0.5em;
  color: #999;
}
